/* Styles for Product Page Customization */

/* General Styles */

body{
	position: relative;
}

h2.card-header {
	padding-top: 155px;
	background-color: rgb(255,255,255);
}

.card {
	border: 0;
}

/* Navigation Styles */

a.nav-link {
	font-size: 1.2rem;
}

/* Header Styles */

header {
	margin-top: 125px;
}

.masthead {
  min-height: 30rem;
  padding-top: 18rem;
  background-color: rgb(214, 180, 153);
  background-image: url("../images/masthead.jpg");
  background-position: bottom center;
  background-size: cover;
}

/* Features Styles */

.list-group-item span {
	padding-right: 1.5rem;
}

/* Testimonial Styles */

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 6rem;
  padding-right: 6rem;
}

/* Call to Action */

.call-to-action {
	margin-top: 125px;
}

/* Contact Styles */

.icon {
	display: block;
	text-align: center;
	padding-bottom: 1rem;
}

/* Footer Styles */

footer {
	margin-top: 100px;
}

.footer-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-item-flex {
	flex: 0 1 auto;
}

footer a:nth-child(2) {
	padding: 0 2rem;
}